/* HTML5 display-role reset for older browsers */
main, article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; }

table { border-collapse: collapse; border-spacing: 0; }

body{ font-size: 19px; }
ol, ul { list-style: none; }

/* IFRAME */
.embed-container iframe, 
.embed-container object, 
.embed-container embed { width: 100%; height: 100%; top: 0; left: 0; position: absolute; }
#map-canvas { width: 100%; height: 100%; top: 0; left: 0; margin: 0px; padding: 0px; position: absolute; }

/* FAIXA DE 320 - 480 (Smartphone) */
@media only screen and (max-width: 480px) {
	
}

/* FAIXA DE 480 - 768 (Phablet) */
@media only screen and (max-width: 768px) {
	
}

/* FAIXA DE 768 - 1024 (Tablet) */
@media only screen and (max-width: 1024px) {
	
}

/* FAIXA DE 1024 - 1920 (Desktop) */
@media only screen and (min-width: 1024px) {
	
}

/* WINDOWS PHONE/ ANDROID */
@media only screen and (min-resolution: 1dppx), (min-resolution: 160dpi), 
    (-webkit-device-pixel-ratio: 1) {
    .imagem { background-image: url('../images/mdpi.png'); }
}
@media only screen and (min-resolution: 1.5dppx), (min-resolution: 240dpi), 
    (-webkit-device-pixel-ratio: 1.5) {
    .imagem { background-image: url('../images/hdpi.png'); }
}
@media only screen and (min-resolution: 2dppx), (min-resolution: 320dpi), 
    (-webkit-device-pixel-ratio: 2) {
    .imagem { background-image: url('../images/xhdpi.png'); }
}
@media only screen and (min-resolution: 3dppx), (min-resolution: 480dpi), 
    (-webkit-device-pixel-ratio: 3) {
    .imagem { background-image: url('../images/xxhdpi.png'); }
}
@media only screen and (min-resolution: 4dppx), (min-resolution: 640dpi), 
    (-webkit-device-pixel-ratio: 4) {
    .imagem { background-image: url('../images/xxxhdpi.png'); }
}

/* ORIENTACAO */
@media screen and (orientation:landscape) {
    
}